body {
    margin: 0;
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #64035c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}